body{
    background-image: url(./bg.jpg);
    background-size : cover;
    perspective: 1000px;
}
.container{
   margin-left : 35rem;
   margin-top: 10rem;
   display : inline-block;
   border : greenyellow 2px solid;
   box-shadow : 5px 7px 10px greenyellow,6px 10px 10px #546d2e;
}
 h1{
    color : white;
}
.contents{
    align-items: center;
    justify-content: center;
}
div label{
    color : lightgreen;
}
.username ,.password {
    padding : 10px;
    border : none;
}

#user,#pass{
    border : none;
    outline : none;
    background : none ;
    color : palegreen;
}

